body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 20px;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  #container {
    display: flex;
    height: 60vh;
  }
  
  .chart {
    flex: 1;
    margin: 5px;
    background-color: #333;
    padding: 20px;
  }
  
  .chart2 {
    background-color: #333;
    padding: 20px;
  }
  
  button {
    margin-top: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    height: 40px; /* Set a fixed height */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a button:hover {
    background-color: #555;
  }

  .x-axis path,
  .x-axis line,
  .y-axis path,
  .y-axis line {
    stroke: white;
  }
  
  .x-axis text,
  .y-axis text,
  .x-label,
  .y-label {
    fill: white;
  }

  .y-grid line {
    stroke: lightgray;
    stroke-opacity: 0.7;
    stroke-dasharray: 4;
  }