body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 20px;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  #container {
    display: flex;
  }
  
  .chart {
    flex: 1;
    margin: 0 5px; 
    background-color: #333;
    padding: 20px;
  }
  
  .chart2 {
    margin: 0 5px; 
    background-color: #333;
    padding: 20px;
  }
  
  button {
    margin-top: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    height: 40px; /* Set a fixed height */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }

  
  a {
    color: #fff;
  }

  a button {
    background-color: #45a049;
  }
  
  a button:hover {
    background-color: #355a36;
  }

  .x-axis path,
  .x-axis line,
  .y-axis path,
  .y-axis line {
    stroke: white;
  }
  
  .x-axis text,
  .y-axis text,
  .x-label,
  .y-label {
    fill: white;
  }

  .y-grid line {
    stroke: lightgray;
    stroke-opacity: 0.5;
    stroke-dasharray: 4;
  }

  .dot {
    stroke-width: 5px;
  }

  #report {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10 0;
  }

  #heatmap {
    background-image: url("background_web.PNG");
    background-size: 780px 380px; /* Set the size to match the heatmap SVG dimensions */
    background-repeat: no-repeat; /* Prevent the photo from repeating */
    background-position: center;
    width: 780px; /* Set the width to match the background size */
    height: 380px; /* Set the height to match the background size */
    margin: 0 5px; 
    background-color: #333;
    padding: 20px;
  }

  h3 {
    padding: 0;
    margin: 0 5px;
  }

  .titles {
    position: relative;
  }

  .additional-h3 {
    position: absolute;
    top: 0;
    left: 50%;
  }


  /* Styles for the vertical scroll bar */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  background-color: #333; /* Set the background color */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Set the color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Set the color of the scroll thumb on hover */
}

/* Styles for the horizontal scroll bar */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Adjust the height as needed */
  background-color: #333; /* Set the background color */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #666; /* Set the color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover:horizontal {
  background-color: #888; /* Set the color of the scroll thumb on hover */
}

.legend-container {
    position: absolute;
    top: 30%;
    right: 3%;
  }